themes {
    astrolight {
        ribbon_unselected {
            base 174 179 182         // #AEB3B6 text_inactive
            background 225 226 228   // #E1E2E4 tabline
            emphasis_0 0 80 138      // #00508A blue
            emphasis_1 52 94 0       // #345E00 green
            emphasis_2 158 0 124     // #9E007C magenta
            emphasis_3 163 69 0      // #A34500 orange
        }
        ribbon_selected {
            base 66 68 70            // #424446 text_active
            background 247 248 248   // #F7F8F8 base
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        text_unselected {
            base 139 146 151         // #8B9297 comment
            background 225 226 228   // #E1E2E4 tabline
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        text_selected {
            base 66 68 70            // #424446 text_active
            background 234 235 235   // #EAEBEB current_line
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        table_title {
            base 115 116 116         // #737474 text
            background 240 240 241   // #F0F0F1 tool
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        table_cell_unselected {
            base 139 146 151         // #8B9297 comment
            background 225 226 227   // #E1E2E3 float
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        table_cell_selected {
            base 66 68 70            // #424446 text_active
            background 231 233 235   // #E7E9EB selection
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        list_unselected {
            base 139 146 151
            background 225 226 227
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        list_selected {
            base 66 68 70
            background 231 233 235
            emphasis_0 0 80 138
            emphasis_1 52 94 0
            emphasis_2 158 0 124
            emphasis_3 163 69 0
        }
        frame_unselected {
            base 181 185 189         // #B5B9BD none_text
            background 247 248 248
            emphasis_0 181 185 189
            emphasis_1 181 185 189
            emphasis_2 181 185 189
            emphasis_3 181 185 189
        }
        frame_selected {
            base 103 31 240          // #671FF0 accent/purple
            background 247 248 248
            emphasis_0 103 31 240
            emphasis_1 103 31 240
            emphasis_2 103 31 240
            emphasis_3 103 31 240
        }
        frame_highlight {
            base 0 80 138            // #00508A blue
            background 247 248 248
            emphasis_0 0 80 138
            emphasis_1 0 80 138
            emphasis_2 0 80 138
            emphasis_3 0 80 138
        }
        exit_code_success {
            base 52 94 0
            background 0 0 0
            emphasis_0 0 0 0
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        exit_code_error {
            base 153 0 0
            background 0 0 0
            emphasis_0 0 0 0
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 0 80 138
            player_2 52 94 0
            player_3 158 0 124
            player_4 163 69 0
            player_5 0 97 91
            player_6 153 0 0
            player_7 115 0 184
            player_8 63 140 234
            player_9 66 173 23
            player_10 240 116 10
        }
    }
}
