fish_history
fishd.*
tmux/*
*.gem
*.retry
roles/shell/files/zsh/plugins/zsh-autosuggestions/
roles/shell/files/zsh/plugins/zsh-completions/
roles/keyboard/files/karabiner/automatic_backups/
omf.fish
fish_variables
local.fish
asdf.fish
roles/vim/files/nvim/plugin/packer_compiled.lua
