snippet _container_js "Container JavaScript" b
import React from 'react'

class $1 extends React.Component {
	render() {
		$2
	}
}

export default $1;
endsnippet

snippet _component_js "Component JavaScript" b
import React from 'react'
import styled from 'styled-components'

class $1 extends React.Component {
	render() {
		$2
	}
}
endsnippet

snippet _component_css "Component CSS" b
.root {
	$0
}
endsnippet
