priority -50

snippet ir "import React"
import React, { Component } from 'react';
endsnippet

snippet ip "import PropTypes"
import PropTypes from 'prop-types';
endsnippet

snippet danger "dangerouslySetInnerHTML"
dangerouslySetInnerHTML={{ __html: ${1:src} }}
endsnippet
